/* Reset de margens e preenchimento padrão */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilo da div de conteúdo principal */
main {
    padding: 20px;
	height: 80vh;
}

.content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
}
